
.navigation-wrapper {
    background: #82b808;
}

.navigation {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    padding: .25rem 0;
    margin: auto;
}

.navigation .logo {
    font-size: 25px;
    font-weight: bold;
    padding: 1rem 1rem 1rem 0;
    color: white;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-list > li {
    padding: 1rem;
}

.navigation-list > li > a {
    text-transform: uppercase;
    color: white;
}

.navigation-list > li > a:hover {
    color: black;
}

@media screen and (max-width:768px) {
    .navigation {
        flex-direction: column;
    }
    .navigation .logo {
        text-align: center;
    }

    .navigation-list {
        justify-content: flex-start;
    }
}