.footer {
    padding:0;
    color: #fff;
    background-color: #2f2f2f;
}
.footer > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;
    max-width: 800px;
    margin: auto;
    padding: 5rem 0;
}
.footer li {
    line-height: 2em;
    padding: 1.5rem;
}
.footer-section {
    flex: 1;
    margin-right: 1.25em;
    border-left:1px solid #282727 ;
}
.footer-section.footer-section_expanded {
    flex: 3;
}
.footer-section > h2 {
    font-weight: 400;
    font-size: 15px;
    padding: 0;
    margin: 0;
}
.footer-section a {
    text-decoration: none;
}
.footer-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    padding-top: 1rem;
    margin: 0;
    max-height: 295px;
}
.footer-nav > li {
    flex: 0 0 auto;
    padding: .25rem;
}
.footer-nav a {
    /* color: #999; */
    color:#8a8888
}
.footer-nav a:hover {
    color: green;
}
@media only screen and (max-width: 768px) and (min-width: 425px) {
.footer {
    padding: 4rem 7rem;
}
.footer-section.footer-section_expanded {
    flex: 4;
}
}
@media screen and (min-width: 320px) and (max-width: 425px) {
    .footer > ul {
    flex-direction: column;
}
.footer-nav {
    max-height: none;
}
}